@import '@/../node_modules/sass-material-colors/sass/sass-material-colors';

/* Theme Colors */
$primaryColor: material-color('cyan', '800');
$secondaryColor: material-color('cyan', '900');
$accentColor: material-color('orange', 'a400');

/* Borders */
$border-tiny: 2px;
$border-small: 3px;
$border-medium: 5px;

$materialIconFont: 'Material+Icons';

$latoFont: 'Lato:300,400,700,900';
$dosisFont: 'Dosis:400,500,600,700';
$poppinsFont: 'Poppins:200,300,400,500,600,700,800';
$quicksandFont: 'Quicksand:300,400,500,700';
$ubuntuFont: 'Ubuntu:300,400,500,700';

// $googleFontList: $dosisFont + '|' + $poppinsFont + '|' + $quicksandFont + '|' + $ubuntuFont;
$googleFontList: $materialIconFont + '|' + $latoFont;
