/* ====================================================================================================== */
/* Imports */
/* ====================================================================================================== */
@import 'constants.scss';

@import url(('https://fonts.googleapis.com/css?family='+$googleFontList));

/* ====================================================================================================== */
/* End - Imports */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* All Elements */
/* ====================================================================================================== */

* {
    box-sizing: border-box;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear;
}

/* ====================================================================================================== */
/* End - All Elements */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Top Level Elements */
/* ====================================================================================================== */

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    overflow: auto !important;
}

/* ====================================================================================================== */
/* End - Top Level Elements */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Custom Styles */
/* ====================================================================================================== */

.auto-height {
    height: auto !important;
}

.max-width {
    width: 100% !important;
}

.max-height {
    height: 100% !important;
}

.fit-height {
    max-height: fit-content !important;
}

.fit-width {
    max-width: fit-content !important;
}

.center-text {
    text-align: center;
}

span.dark {
    color: white !important;
}

.clickable {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.no-shadow {
    box-shadow: 0 0 0 0 !important;
}

@for $i from 1 through 9 {
    $weight: $i * 100;
    .fw-#{$weight} {
        font-weight: $weight !important;
    }
}

/* ====================================================================================================== */
/* End - Custom Styles */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Customized Vuetify Elements */
/* ====================================================================================================== */

.v-toolbar {
    &.flat {
        box-shadow: 0 0 0 0 !important;
    }

    .v-toolbar__items {
        button.v-btn {
            &.route-indicator.router-link-exact-active {
                border-bottom: $border-medium solid $accentColor;
            }
        }
    }
}

.v-tooltip {
    &.d-flex {
        span:first-child {
            display: flex;
        }
    }
}

.v-card {
    &.transparent {
        background: transparent !important;
    }

    &.flat {
        box-shadow: none !important;
    }

    &.bordered {
        border: 1px solid #bbb !important;

        &.theme--dark {
            border-color: #777 !important;
        }
    }
}

.v-expansion-panel--inset,
.v-expansion-panel--popout {
    &.full-width {
        .v-expansion-panel__container {
            max-width: 100%;

            &.v-expansion-panel__container--active {
                max-width: 90%;
            }
        }
    }
}

/* ====================================================================================================== */
/* End - Customized Vuetify Elements */
/* ====================================================================================================== */

//
//
//

/* ====================================================================================================== */
/* Scroll Bars */
/* ====================================================================================================== */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    width: 3px;
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $secondaryColor;
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.8);
    // border-radius: 3px;
}

/* ====================================================================================================== */
/* End - Scroll Bars */
/* ====================================================================================================== */

//
//
//
